.jumbotron {
  padding: 4.5rem 1rem;
}

.jumbotron__description {
  margin: 0;
}

.jumbotron__header {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  line-height: 2rem;
}

.jumbotron__summary {
  max-width: 800px;
}

.jumbotron__logo {
  filter: brightness(0) invert(1);
  transition: filter var(--ifm-transition-fast) ease-out;
}

.jumbotron__logo:hover {
  filter: none;
}

.jumbotron__name {
  font-size: var(--font-size-large);
}

.jumbotron__name:before {
  content: "|";
  padding: 0 1rem;
  font-weight: bold;
}

.jumbotron__banner {
  display: flex;
  max-width: calc(var(--ifm-container-width) - 2rem);
  width: 100%;
  margin-top: 4.5rem;
  justify-content: center;
}

.jumbotron__banner > img {
  height: auto;
  box-shadow: 0 5px 18px 3px var(--palette-black-10);
  opacity: 0.8;
}

@media (max-width: 996px) {
  .jumbotron__banner {
    min-height: 250px;
    width: calc(100% + 2rem);
    margin-top: 2.5rem;
    margin-bottom: -4.5rem;
  }

  .jumbotron__left {
    padding: 0;
  }
}
