.about__top,
.about__team__sec,
.about__investors__sec {
  margin: 0 auto;
  padding: 3rem;
  max-width: 1000px;
}

.about__title,
.team__title,
.investor__title {
  color: var(--palette-gray);
  font-size: var(--font-size-big-5);
}

.about__desc,
.team__desc {
  font-size: var(--font-size-big-1);
  color: var(--palette-gray);
  max-width: 800px;
}

.about__top > a {
  font-size: var(--font-size-big-1);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.about__top > a:hover {
  color: var(--palette-gray);
}

.about__more > img {
  margin-top: 3px;
  margin-left: 8px;
}

.team__list__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: var(--ifm-container-width);
}

.team__person__card {
  max-width: 300px;
  margin-right: 50px;
}

.team__person__card > .person__pic {
  width: 150px;
  text-align: center;
}
.person__social__icons > a > img {
  height: 18px;
  margin-right: 5px;
  width: auto;
}

.team__person__card > .person__pic > img {
  width: 96px;
  object-fit: cover;
  height: 98px;
  border: 4px solid #5e71db;
  border-radius: 50%;
}
.person__name {
  font-size: var(--font-size-big-1);
  font-weight: 600;
}
.person__info {
  display: flex;
  align-items: baseline;
}

.person__desc,
.investor__about {
  font-size: var(--font-size-normal);
  color: var(--palette-gray);
  line-height: 1.4;
}

.investor__card {
  display: flex;
  align-items: center;
}
.investor__pic {
  width: 100px;
}
.investor__pic > img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.investor__info {
  align-self: flex-start;
}

@media (max-width: 776px) {
  .team__list__row {
    justify-content: center;
  }
  .team__person__card {
    max-width: 250px;
  }
}
