.help {
  --ifm-link-color: var(--palette-pink);
  --ifm-link-hover-color: var(--palette-pink);
  display: flex;
  width: 100%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
  padding: 1rem;
}

.help__illustration {
  height: auto;
}

.help__text {
  margin-left: 4rem;
  flex: 1;
  font-size: var(--font-size-large);
}

.help__title {
  font-size: var(--font-size-big-3);
  font-weight: var(--ifm-font-weight-bold);
}

.help__list {
  padding: 0;
  list-style: none;
}

.help__bullet {
  margin-bottom: 0.5rem;
}

.help__bullet::before {
  content: ">";
  margin-right: 1rem;
  color: var(--palette-pink);
}

@media (max-width: 996px) {
  .help {
    margin-top: 4rem;
    justify-content: center;
  }

  .help__illustration {
    display: none;
  }

  .help__text {
    margin-left: 0;
  }
}
