.hero-section {
  min-height: 600px;
  margin-bottom: 8rem;
}
.jumbotron {
  padding: 5rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jub__left__content {
  flex-basis: 50%;
  padding-left: 6rem;
}

.jumbotron__title {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 40px;
  font-weight: 500;
  margin-top: -30px;
}

.view__repo__btn,
.request__demo__btn {
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  padding-top: 15px;
  white-space: nowrap;
  padding-left: 24px;
  border-radius: 12px;
  padding-right: 24px;
  padding-bottom: 15px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 15px;
  text-decoration: none;
  flex-basis: 50%;
}

.jub__left__content > .jub__action__btns > .view__repo__btn {
  color: #ffffff;
  border: 0;
  background: linear-gradient(94.04deg, #7934da 0%, #4d52e0 101.2%);
  margin-right: 15px;
}

.jub__left__content > .jub__action__btns > .request__demo__btn {
  color: #ffffff;
  border: 2px solid rgba(220, 207, 233, 0.16);
}

.trial__link {
  font-size: 16px;
  color: #b3bfd7;
  flex-basis: 100%;
}

.jub__right__content {
  flex-basis: 45%;
}
.jub__right__content > img {
  max-height: 600px;
}

.jumbotron__description {
  color: var(--palette-white-darker);
  font-size: var(--font-size-big-2);
}

@media (max-width: 1160px) {
  .jumbotron__title {
    font-size: 3rem;
  }
  .jumbotron {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .jub__right__content {
    flex-basis: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .jumbotron__description {
    max-width: 800px;
    text-align: left;
    font-size: var(--font-size-large);
  }
  .hero-section {
    margin-bottom: 5rem;
  }
}

@media (max-width: 996px) {
}

@media (max-width: 776px) {
  .jumbotron {
    padding-top: 4rem;
  }
  .jub__left__content {
    padding: 0 20px 20px 20px;
  }
  .jumbotron__title {
    margin-bottom: 20px;
  }
  .jub__right__content {
    padding-left: 20px;
  }
  .jub__action__btns {
    display: flex;
    flex-direction: column;
  }
  .view__repo__btn,
  .request__demo__btn {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .jub__left__content > .jub__action__btns > .view__repo__btn {
    margin-right: 0;
  }
  .request__demo__btn {
    margin-top: 15px;
  }
  .jub__action__btns br {
    display: none;
  }
}

@media (max-width: 426px) {
  .jub__right__content {
    margin-top: 10px;
  }
  .hero-section {
    margin-bottom: 2rem;
  }
}

@media (max-width: 376px) {
}
