.watch__sec {
  padding: 4rem 0;
  max-width: var(--ifm-container-width);
  width: 100%;
}
.video__container {
  padding-top: 2rem;
}

.ytb__video {
  overflow: hidden;
  border-radius: var(--ifm-global-img-border-radius);
  height: 550px;
}

@media (max-width: 1024px) {
  .video__container {
    padding: 2rem 3rem;
  }

  .ytb__video {
    height: 350px;
  }
}
@media (max-width: 376px) {
  .watch__sec {
    padding: 3rem 0;
  }
  .video__container {
    padding: 0rem 2rem;
  }

  .ytb__video {
    height: 350px;
  }
}

@media (max-width: 446px) {
  .ytb__video {
    height: 250px;
  }
}
