/**
*
* Override Infima's variables + set color palette
*
**/

:root {
  --palette-charade: #fbfbfd;
  --palette-gray: #636363;
  --palette-border-grey: #cabbe9;
  --palette-green: #3ec234;
  --palette-midnight: #141725;
  --palette-pale-blue: #b1b5d3;
  --palette-pink: #5446d1;
  --palette-blue: #5658dd;
  --palette-pink-darker: #552aa5;
  --palette--black: #0f0f0f;
  --palette-rock: #fff;
  --palette-dark-blue: #0d1e4b;
  --palette-rock-raw: 38, 40, 51;
  --palette-sky: #81d3f9;
  --palette-light-bg: #f7f7fc;
  --palette-turquoise: #330cdf;
  --palette-black-10: rgba(0, 0, 0, 0.1);
  --palette-white: #fff;
  --palette-white-03: rgba(255, 255, 255, 0.03);
  --palette-white-05: rgba(255, 255, 255, 0.05);
  --palette-white-10: rgba(255, 255, 255, 0.1);
  --palette-white-20: #f2f2f2;
  --palette-white-30: rgba(255, 255, 255, 0.3);
  --palette-white-40: rgba(255, 255, 255, 0.4);
  --palette-white-darker: #d9d9d9;
  --palette-yellow: #ebba33;

  --image-shadow: 0 10px 10px 5px rgba(165, 166, 170, 0.94);

  --transition-bezier: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --transition-fastest: 100ms;

  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, Cantarell, Helvetica, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Android Emoji", EmojiSymbols, "EmojiOne Mozilla",
    "Twemoji Mozilla", "Segoe UI Symbol", "Noto Color Emoji";

  --font-size-small: 15px;
  --font-size-normal: 16px;
  --font-size-large: 20px;
  --font-size-big-1: 22px;
  --font-size-big-2: 24px;
  --font-size-big-3: 32px;
  --font-size-big-4: 46px;
  --font-size-big-5: 64px;

  --ifm-background-color: var(--palette-charade);
  --ifm-blockquote-color: var(--palette-pale-blue);
  --ifm-navbar-link-color: var(--palette-gray);
  --ifm-code-background: var(--palette-gray);
  --ifm-code-color: var(--palette-white);
  --ifm-code-font-size: var(--font-size-small);
  --ifm-color-emphasis-300: var(--palette-pale-blue);
  --ifm-color-primary: var(--palette-blue);
  --ifm-color-primary-dark: #c93261;
  --ifm-color-primary-darker: var(--palette-pink-darker);
  --ifm-color-primary-darkest: #9c274b;
  --ifm-color-primary-light: #d75c82;
  --ifm-color-primary-lighter: #d9688b;
  --ifm-color-primary-lightest: #e289a4;
  --ifm-color-info: var(--palette-sky);
  --ifm-color-success: var(--palette-green);
  --ifm-color-warning: var(--palette-yellow);
  --ifm-dropdown-background-color: var(--palette-rock);
  --ifm-font-color-base: var(--palette-black);
  --ifm-font-family-base: var(--font-family-base);
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --ifm-font-size-base: var(--font-size-small);
  --ifm-global-border-radius: 8px;
  --ifm-global-img-border-radius: 8px;
  --ifm-global-img-container-border-radius: 20px;
  --ifm-h1-font-size: var(--font-size-big-4);
  --ifm-h2-font-size: var(--font-size-big-2);
  --ifm-h3-font-size: var(--font-size-big-1);
  --ifm-h4-font-size: var(--font-size-large);
  --ifm-heading-margin-bottom: 1.5rem;
  --ifm-hr-border-color: var(--palette-white-20);
  --ifm-link-color: var(--palette-turquoise);
  --ifm-list-paragraph-margin: 0.5rem;
  --ifm-menu-link-sublist-icon: url("/img/infima/arrow.svg");
  --ifm-navbar-background-color: var(--palette-charade);
  --ifm-navbar-height: 80px;
  --ifm-navbar-item-padding-horizontal: 20px;
  --ifm-navbar-padding-horizontal: 0;
  --ifm-navbar-shadow: 0 1px 0 0 var(--palette-white-darker);
  --ifm-pre-background: var(--palette-midnight);
  --ifm-table-cell-padding: 0.15rem 1rem;
  --ifm-toc-border-color: var(--palette-white-10);
}

html[data-theme="dark"] {
  --ifm-background-color: var(--palette-charade);
  --ifm-color-emphasis-300: var(--palette-pale-blue);
  --ifm-menu-link-sublist-icon: url("/img/infima/arrow.svg");
}

html[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(0, 0, 0, 0.5);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--palette-white-10);
  --docsearch-searchbox-focus-background: var(--palette-midnight);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--palette-rock);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--palette-gray) 0%,
    var(--palette-rock) 100%
  );
}

/**
 *
 * Override Docusaurus/Infima variables
 *
 **/

nav {
  --ifm-font-size-base: var(--font-size-normal);
  --ifm-link-color: var(--palette-pink);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.markdown {
  --ifm-h2-vertical-rhythm-top: 3;
  --ifm-h3-vertical-rhythm-top: 2;
  --ifm-heading-vertical-rhythm-top: 2; /* h4 */
  --ifm-heading-vertical-rhythm-bottom: 0.4;
  --ifm-paragraph-margin-bottom: 0.5rem;
  --ifm-table-background: var(--palette-white-03);
  --ifm-table-border-color: var(--palette-charade);
  --ifm-table-border-width: 4px;
  --ifm-table-head-background: var(--palette-gray);
  --ifm-table-head-color: var(--palette-white);
  --ifm-table-stripe-background: var(--palette-white-03);
}

.admonition {
  --ifm-color-info: var(--palette-pale-blue);
  --ifm-color-success: var(--palette-green);
  --ifm-heading-color: #000;
}

.alert--secondary {
  --ifm-alert-background-color: var(--palette-white-darker);
  --ifm-alert-border-color: var(--palette-white-darker);
}

.pagination-nav {
  --ifm-color-content-secondary: var(--palette-white);
  --ifm-link-color: var(--palette-white);
  --ifm-link-hover-color: var(--palette-white);
  --ifm-pagination-nav-color-hover: var(--palette-white);
  --ifm-pagination-nav-border-radius: var(--ifm-global-border-radius);
  --ifm-color-emphasis-300: transparent;
}

.disabled {
  pointer-events: none;
}

/**
 *
 * Globals
 *
 **/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  transition: var(--ifm-transition-fast) ease color;
}

#__docusaurus {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.video-container {
  height: 0;
  margin: 0 0 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-container > iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
h1.docTitle_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocItem- {
  font-size: 2.5rem;
}
div.sidebar_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar- {
  border-right: 1px solid #eee;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
/**
 *
 * Scrollbars
 *
 **/

/* Firefox */
* {
  scrollbar-color: var(--palette-pale-blue) var(--palette-gray);
  scrollbar-width: thin;
}

/* WebKit / Blink */
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

::-webkit-scrollbar-track {
  background: var(--palette-gray) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
  background: var(--palette-pale-blue) !important;
}

::-webkit-scrollbar-corner {
  background: var(--palette-gray) !important;
}

/**
 *
 * Utils
 *
 **/

.font-size--large {
  font-size: var(--font-size-large);
}

.responsive-image {
  height: auto;
}

/**
 *
 * Blog
 *
 **/

/* Change blog title color */
.blog-wrapper header h2 a {
  --ifm-link-color: var(--palette-white-darker);
  --ifm-link-hover-color: var(--palette-white-darker);
}

/**
 *
 * Careers
 *
 **/

.career {
  align-self: center;
  box-sizing: content-box;
}

/**
 *
 * Supplemental docs (Privacy notice, TOS)
 *
 **/

.supplemental {
  align-self: center;
  box-sizing: content-box;
}

/**
 *
 * Pagination
 *
 **/

.pagination-nav__item--next .pagination-nav__link {
  background: var(--palette-pink);
}

.pagination-nav__link {
  background: var(--palette-pink);
}

/**
 *
 * Transitions
 *
 **/

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.apple-icon {
  margin-right: 5px;
}
.microsoft-icon {
  margin-right: 10px !important;
}
